

/* Navigation - Desktop */

.navigation {

    &__list {
        text-decoration: none;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        margin: 0 20px;
    }
    
    &__link {
        display: inline-block;
        color: #fff;
        font-family: 'Life Savers', serif;
        font-size: 2rem;
        text-decoration: none;
        padding: 10px;
    }
    
    &__link:hover,
    &__link:active {
        transform: scale(1.3);
        text-decoration: none;
    }
    
    &__link--active {
        transform: scale(1.3);
    }
}

