.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    margin-top: -22px;
    margin-left: -8vmin;
    width: 35vw;
    min-width: 200px;
    max-width: 400px;

    &:hover {
        transform: scale(1.1);
    }
}