@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

:root {
  --background-color: #47929c; 
  --primary-color: #675555;
  --primary-color-hover: #8BC343;
  --secondary-color: #fff;
  --secondarycolor-hover: #8BC343;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.container {
  max-width: 26rem;
  margin: 0 auto;
}

body {
    font-family: 'Karla', sans-serif;
    color: var(--secondary-color);
    background-color: var(--background-color);
    margin: 0 auto;
    max-width: 1400px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


h1,
h2,
h3 {
    font-family: 'Life Savers', serif;
}

.heading--primary {
    margin-top: 1rem;
    font-family: 'Life Savers', serif;
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 700;
}

/* Buttony */

.button {
    display: inline-block;
    padding: clamp(0.9rem, 3vw, 1.6rem) clamp(1.4rem, 5vw, 3rem);
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Life Savers', serif;
    color: var(--secondary-color);

    &--primary {
      background-color: var(--primary-color);
      transform: scale(1);
      transition: background-color .25s, transform .25s;
    }
  
    &--primary:hover {
      background-color: var(--primary-color-hover);
      color: var(--primary-color);
      transform: scale(1.05);
  
    }
  
    &--secondary {
      font-size: clamp(1.2rem, 3vw, 2rem);
      padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
      transform: scale(1);
      background-color: var(--secondary-color);
      transition: background-color .25s, transform .25s;
      color: var(--primary-color);
    }
  
    &--secondary:hover {
      background-color: var(--secondarycolor-hover);
      transform: scale(1.05);
    }
  
    &__wrapp {
      text-align: end;

      @media screen and (min-width: 850px) {
        padding-top: 5rem;
      }
    }
}
