.mobile-nav {
  position: relative;

  &__icon {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background-repeat: no-repeat;
    align-self: first baseline;
    width: 40px;
    aspect-ratio: 1;
  }

  &__icon--open {
    background-image: url("img/icon-nav.svg");
  }

  &__icon--close {
    margin: 1rem 0;
    background-image: url("img/icon-close.svg");
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #47929c;
    background-size: 100%;
    z-index: 2000;
  }

  &__list {
    text-align: center;
    position: absolute;
    top: 30%;
    right: 30%;
  }

  &__link {
    display: inline-block;
    color: var(--secondary-color);
    font-family: "Life Savers", serif;
    font-size: 2rem;
    text-decoration: none;
    padding: 1.2rem;
    cursor: pointer;
  }

  &__link:hover,
  &__link:active {
    transform: scale(1.3);
  }
}
